<!-- style="background-color: coral;" -->
<div class="row top-space">
  <div class="col-md-4 col-md-offset-4" style="text-align:center;">
    <img src="<%=asset_path 'logo.svg'%>" class="logo-sessions">
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 style="color:#899999;font-size:50px;text-align:center;">Sign in</h1>    
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1" style="border-right:1px solid #899999;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1" >
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control input-shadow", placeholder: "Email (ex: john@example.com)" %>
          </div>        
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1" >
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control input-shadow", placeholder: "** Password **" %>
          </div>        
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1" >
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">       
              <%= f.check_box :remember_me%>
              <%= f.label :remember_me %>
            </div>
          <% end %>               
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group" >

              <%= f.submit "Sign in", class: "btn btn-success btn-lg" %>

          </div>        
        </div>
      </div>
                        
    <% end %>
  </div><!-- col end -->


  <div class="col-md-5">
    <div class="row">
      <div class="col-md-5 col-md-offset-1" >
        <div class="form-group">
          <a href="<%=user_omniauth_authorize_path(:linkedin)%>" class="btn btn-primary btn-lg">Get started through &nbsp;<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        </div>        
      </div>

      <div class="col-md-5 col-md-offset-1" >
        <div class="form-group">
          <a href="<%=user_omniauth_authorize_path(:linkedin)%>" class="btn btn-info btn-lg">Sign Up with us &nbsp;<i class="fa fa-user-plus fa-2x"></i></a>
        </div>        
      </div>

    </div>
  </div>

</div><!-- row end -->








<%= render "devise/shared/links" %>

<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %> or
<%= link_to "Sign in", new_user_session_path %>md
<%= link_to "Sign in with Linkedin",user_omniauth_authorize_path(:linkedin) %>
<% end %>


<%=javascript_tag do%>
changeShadow('user_email');
//changeShadow('user_password');
function changeShadow(a){$('#'+a+'').on('input', function(){
      var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      var c = pattern.test($('#'+a+'').val());
    if(c == true){
      $('#'+a+'').addClass('green-shadow');
      $('#'+a+'').removeClass('red-shadow');
    }
    else{
      $('#'+a+'').addClass('red-shadow'); 
      $('#'+a+'').removeClass('green-shadow'); 
    }
  });}
<%end%>